<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <title>Cars App</title>
  </head>
  <body>
    <header>
      <h1 class="title">🚗 Welcome to the Cars App! 🚗</h1>
      <p class="subtitle">An app for collecting your favorite cars.</p>
    </header>

    <main>
      <a class="btn" href="/cars">Browse Cars</a>
    </main>
  </body>
</html>
